* {
  box-sizing: border-box;
}

body {
  background: #f7f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #382a83;
  text-align: center;
  font-family: 'Lucida Sans', Arial, sans-serif;
  padding-left: 70px;
}

.home_page {
  width: 75%;
  margin: auto;
}

.home_page > p {
  text-align: left;
  font-size: 22px;
  font-family: Verdana, Geneva, sans-serif;
}

.nav_bar {
  width: 90%;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_bar li {
  list-style: none;
  border-right: 2px solid rgb(26, 19, 20);
  font-size: 16px;
}

.nav_bar li:last-child {
  border-right: none;
}

.nav_bar li:first-child {
  padding-right: 8px;
}

.nav_bar li :nth-child(1) {
  border-right: none;
  padding-left: 8px;
  padding-right: 8px;
}

.nav_bar li a {
  color: rgb(93, 93, 168);
  font-size: 16px;
  font-weight: bold;
}

.nav_bar li a:hover {
  color: #dbae32;
  font-size: 20px;
}

.quote {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 14px;
  width: 75%;
  margin: auto;
}

.wrapper {
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  width: 75%;
}

.maths {
  font-size: 22px;
  font-weight: 600;
}
